<div class="printout">
    <section>
        <table>
            <tr>
                <td style="width: 100%">
                    <img class="logo" src="@Model.Company.Logo"></img>
                </td>
                <td>
                    <h1> Service Request </h1>
                </td>
            </tr>
        </table>
        <div>
            <div class="column">
                <table>
                    <tr>
                        <address>
                            EGT Enterprise Inc. (Facility Maintenance & Construction)
                            <br /> 2030 Union St. #207
                            <br /> San Francisco, CA 94123
                            <br /> Phone: 415-702-7112
                        </address>
                    </tr>
            </div>
            <hr>
            <br>
            <u>
                <h1 style="text-align: center">{!{WO#}!} @Model.WO.Number</h1>
            </u>
        </div>
    </section>
    <section>
        <h2 style="color:rgb(89, 116, 44)"> VENDOR INFORMATION</h2>
        <table>
            <tr>
                <td style="width: 70%">
                    @if (Model.WO.AssignedTo != null)
                    {
                    <address>
                        @Model.WO.AssignedTo.DisplayAs<br />
                        @Model.WO.AssignedTo.Address.Multiline
                        <br />
                    </address>

                    <table>
                        <colgroup>
                            <col style="width: 30%">
                            <col style="width: 70%">
                        </colgroup>
                        @if (!string.IsNullOrEmpty(Model.WO.AssignedTo.Number))
                        {
                        <tr>
                            <td>
                                <strong class="nowrap">{!{Provider}!} Number</strong>
                            </td>
                            <td>@Model.WO.AssignedTo.Number</td>
                        </tr>
                        }
                        @if (!string.IsNullOrEmpty(Model.WO.AssignedTo.Phone))
                        {
                        <tr>
                            <td>
                                <strong class="nowrap">Phone</strong>
                            </td>
                            <td>@Model.WO.AssignedTo.Phone</td>
                        </tr>
                        }
                        @if (Model.WO.AssignedTo.Emails.Any())
                        {
                        <tr>
                            <td>
                                <strong class="nowrap">Email</strong>
                            </td>
                            <td>
                                @foreach(var email in Model.WO.AssignedTo.Emails)
                                {
                                <div>@email</div>
                                }
                            </td>
                        </tr>
                        }
                    </table>
                    }
                </td>
                <td style="width: 30%" class="text-right">
                    @if (Model.WO.AssignedTo != null && Model.WO.AssignedTo.Avatar != null)
                    {
                    <img class="logo" src="@Model.WO.AssignedTo.Avatar" />
                    }
                </td>
            </tr>
        </table>
    </section>
    <section>
        <table>
            <colgroup>
                <col style="width: 30%">
                <col style="width: 40%">
                <col style="width: 30%">
            </colgroup>
            <tr>
                <td>
                    <h2 style="color: red">Due by @Model.WO.DueBy</h2>
                </td>
                <td class="text-center">
                    <h3 class="@(Model.WO.Priority.IsEmergency ? " alert" : "" )">@Model.WO.Priority</h3>
                </td>
                <td class="text-right">
                    <h3>{!{WO#}!} @Model.WO.Number</h3>
                </td>
            </tr>
            <tr>
                <td>
                    <h2 style="color: red">Not to exceed @Model.WO.NotToExceed</h2>
                </td>
                <td class="text-center">
                    @if (Model.WO.Flag.HasValue)
                    {
                    <h3>Flagged: @Model.WO.Flag</h3>
                    }
                </td>
                <td class="text-right">
                    <h3>Status @Model.WO.Status</h3>
                </td>
            </tr>
        </table>
    </section>
    <hr>
    <section>
        <h2 style='color: blue'>{!{Customer}!}</h2>
        <table>
            <colgroup>
                <col style="width: 15%" />
                <col style="width: 45%" />
                <col style="width: 15%" />
                <col style="width: 25%" />
            </colgroup>
            <tr>
                <td>
                    <strong>Name</strong>
                </td>
                <td>
                    @if(Model.WO.Customer != null)
                    {
                    @Model.WO.Customer.Name
                    }
                </td>
                <td>
                    <strong>{!{Contact}!}</strong>
                </td>
                <td>
                    @Model.WO.CreatorRefinement
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Address</strong>
                </td>
                <td rowspan="3">
                    @Model.WO.Location.Address.Multiline
                </td>
                <td>
                    <strong>{!{Contact At}!}</strong>
                </td>
                <td>
                    @Model.WO.ContactAt
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <strong>Phone</strong>
                </td>
                <td>
                    @if (@Model.WO.Contact != null)
                    {
                    @Model.WO.Contact.Phone
                    }
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Fax</strong>
                </td>
                <td>
                    @if (@Model.WO.Contact != null)
                    {
                    @Model.WO.Contact.Fax
                    }
                </td>
            </tr>
        </table>
    </section>
    <section>
        <h2 style="color: blue">Details</h2>
        <table>
            <tr>
                <td style="width: 40%" class="text-center no-padding"></td>
                <td style="width: 30%" class="text-right no-padding"></td>
            </tr>
        </table>
        <strong></strong>
        </h2>
        <ul>
            @foreach (var item in Model.WO.Items) {
            <li>
                <strong>
                    @if (Model.WO.Items.Count() > 1) { @item.Index
                    <text>.</text>
                    } @item.Asset.Name
                </strong>
                @item.Task @item.Description @item.Disposition
            </li>
            }
            <h4 style="color: red"> DO NOT EXCEED NTE WITHOUT APPROVAL FROM EGT ENTERPRISE AS THE CUSTOMER WILL NOT PAY</h4>
        </ul>
    </section>
    <hr>
    <p style="page-break-before: always">
        <section>
            <h2>@Model.WO.Type.Category <strong>Date created @Model.WO.TimeCreated</strong></h2>
            <ul>
                @foreach (var item in Model.WO.Items)
                {
                <li>
                    <strong>
                        @if (Model.WO.Items.Count() > 1)
                        {
                        @item.Index<text>.</text>
                        }
                        @item.Asset.Name
                    </strong>
                    @item.Task
                    @item.Description
                    @item.Disposition
                </li>
                }
            </ul>
        </section>
        <section>
            <h2>Assignment</h2>
            <table>
                <colgroup>
                    <col style="width: 15%" />
                    <col style="width: 45%" />
                    <col style="width: 15%" />
                    <col style="width: 25%" />
                </colgroup>
                <tr>
                    <td class=" col-4">
                        <strong>Assigned To</strong>
                    </td>
                    <td>
                        @if (Model.WO.AssignedTo != null)
                        {
                        @Model.WO.AssignedTo.DisplayAs
                        }
                    </td>
                    <td class=" col-4">
                        <strong>{!{Specialty}!}</strong>
                    </td>
                    <td>
                        @Model.WO.Speciality</td>
                </tr>
                <tr>
                    <td>
                        <strong>Mobile</strong>
                    </td>
                    <td>
                        @if (Model.WO.AssignedTo != null)
                        {
                        @Model.WO.AssignedTo.Mobile
                        }
                    </td>
                    <td>
                        <strong>{!{Access}!}</strong>
                    </td>
                    <td>
                        @Model.WO.Appointment
                    </td>
                </tr>
                <tr>
                    <td>
                        <strong>Email</strong>
                    </td>
                    <td>
                        @if (Model.WO.AssignedTo != null)
                        {
                        @Model.WO.AssignedTo.Emails.FirstOrDefault()
                        }
                    </td>

                    <td>
                        <strong>{!{Scheduled Start}!}</strong>
                    </td>
                    <td>
                        @Model.WO.ScheduleStart
                    </td>
                </tr>
                <tr>
                    <td>

                    </td>
                    <td>

                    </td>
                    <td>
                        <strong>PO#</strong>
                    </td>
                    <td>
                        @Model.WO.PONumber
                    </td>
                </tr>
            </table>
        </section>
        @if (Model.WO.Procedures.Any())
        {
        <section>
            <h2>{!{Procedures}!}</h2>
            @foreach (var procedure in Model.WO.Procedures)
            {
            <h4>@procedure.Name</h4>
            <table class="table">
                <tr>
                    <th>Done</th>
                    <th class="text-left">Description</th>
                    <th class="text-left">Response</th>
                    <th class="text-left">Flag Reason</th>
                    <th class="text-left">Comments</th>
                </tr>
                @foreach (var step in procedure.Steps)
                {
                <tr class="bordered">
                    <td class="bordered" style="text-align: center; width: 5%">
                        @if (step.Done)
                        {
                        <input type="checkbox" checked="checked" />
                        }
                        else
                        {
                        <input type="checkbox" />
                        }
                    </td>
                    <td style="width: 35%" class="break-word">
                        @step.Description
                    </td>
                    <td style="width: 10%" class="break-word">
                        @step.Response
                    </td>
                    <td style="width: 25%" class="break-word">
                        @step.FlagReason
                    </td>
                    <td style="width: 25%" class="break-word">
                        @step.Comments
                    </td>
                </tr>
                }
            </table>
            }
        </section>
        }
        <section>
            <table>
                <tr>
                    <td style="width: 40%">
                        <h2>Completion</h2>
                        <table>
                            <tr>
                                <td><strong class="nowrap">Work Completed</strong></td>
                                <td>@Model.WO.TimeCompleted</td>
                            </tr>
                            @if (Model.WO.RepairCategory != null || Model.WO.RepairCode != null)
                            {
                            <tr>
                                <td>
                                    <strong class="nowrap">Repair Category/Code</strong>
                                </td>
                                <td>
                                    @Model.WO.RepairCategory
                                    @Model.WO.RepairCode
                                </td>
                            </tr>
                            }
                            <tr>
                                <td colspan="2" class="break-word">
                                    @Model.WO.CompletionNotes
                                </td>
                            </tr>
                        </table>
                    </td>
                    <td style="width: 60%">
                        <h2>Required signature</h2>
                        <table>
                            <tr>
                                <td style="width: 30%">
                                    <strong>Name (print)</strong>
                                </td>
                                <td class="bordered">
                                    @if (@Model.WO.Signature != null)
                                    {
                                    @Model.WO.Signature.SignedBy
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Signature</strong>
                                </td>
                                <td class="bordered">
                                    @if (@Model.WO.Signature != null)
                                    {
                                    <img class="signature" src="@Model.WO.Signature.Image" />
                                    }
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>Signed</strong>
                                </td>
                                <td class="bordered">
                                    @if (@Model.WO.Signature != null)
                                    {
                                    @Model.WO.Signature.Date
                                    }
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </section>
        <p style="page-break-before: always">
            <section>
                <div>
                    <strong>
                        <h1 style="text-align: center">TO RECEIVE PAYMENT YOU MUST HAVE THE FOLLOWING:</h1>
                    </strong>
                    <br>
                    <h3>CURRENT INSURANCE CERTIFICATION</h3>
                    <li>Egt Enterprise must be listed a certificate holder.</li>
                    <li>Egt Enterprise must be listed as additionally insured.</li>
                    <h3>W-9 CERTIFICATE</h3>
                    <li> Must be received before work begins.</li>
                    <h3>COMPLETED FIELD WORK ORDER FORM</h3>
                    <li> Egt field work form must be submitted with you invoice.</li>
                    <li> Store manager / representative must sign the form.</li>
                    <li>Clock in and out time is required.</li>
                    <h3>INVOICE</h3>
                    <li>Must state that taxes are PAID IN FULL.</li>
                    <li> Invoices must be sent directly to AP@EGTENTERPRISE.COM .</li>
                    <li> Must be split into line items for time and material.</li>
                    <h3>PICTURES</h3>
                    <li>Completion photos are required for all work, and must be attached to the invoice.</li>
                    <h3> *** FIELD CONDUCT*** VERY IMPORTANT</h3>
                    <li>When serving this request you are considered a representative of EGT Enterprise INC.
                    <li><i>Please introduce yourself as “with EGT Enterprise.”</i></li>
                    </li>
                    <li>Store employees have NO AUTHORITY to approve additional or change work in the description of
                        the Work
                        Order.</li>
                    <li>ANY extra duties performed or changed will not be paid and may result in suspension or
                        cancellation of
                        payment for services rendered.</li>
                    <li> Store employees should not be shown any documents for which pricing for work is listed.</li>
                    <br>
                    <br>
                </div>
            </section>
</div>